.post-div{
    width: 100%;
    height: 472px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin-bottom: 10px;
}
.post-div img{
    width: 100%;
    height: 220px;
}
/* -------------- four post div ---------------- */
.four-post-div{
    width: 100%;
    height: 270px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin-bottom: 10px;
}
.four-post-div img{
    width: 100%;
    height: 220px;
}
.post-details-div{
    padding: 0 10px;
}
.post-type-div h3{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin: 20px;
}
.post-type-div svg{
    width: 20px;
}
.post-type-div img{
    width: 60px;
    height: 20px;
    margin: 10px 0px;
}
.post-title-div h2{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 134.17%;
}
.post-title-div img {
    width: 25px ;
    height: 6px;
    margin-top: 15px;
}
.post-details-div h4{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 134.17%;
    margin: 10px 0px;
    color: #5C5C5C;
}
.user-div img {
    width: 48px;
    height: 48px;
}
.user-div h2{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    margin-left:10px;
}
.views-div svg{
    width: 15px;
}
.views-div h2{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #525252;
    margin-bottom: 0px;
    margin-left: 10px;
}
.share-button-div{
    width: 36px;
    height: 36px;
    background: #EDEEF0;
    border-radius: 2px;
    margin-left: 20px;
}
.share-button-div svg{
    width: 15px;
}

/* ---------- post 3 style --------- */
.date-div svg{
    width: 20px;
}
.date-div h3{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.location-div svg{
    width: 15px;
}
.location-div h3{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 5px;
}
.visit-website{
    background: #FFFFFF;
    border: 0.7px solid #A9AEB8;
    border-radius: 8px;
    width: 100%;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 0px;
    color: #E56135;
}
/* -----------sidebar design ------------ */
.edit-svg{
    width:15px;
}
.sidebar-div h3{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0px;
}
.location svg{
    width: 16px;
    margin-right: 10px;
}